<script src="http://localhost:8080/target/target-script-min.js#anonymous"></script>
<script src="/javascripts/validate.js"></script>
<script src="/javascripts/productControl.js"></script>
</body>
</html>