<footer class="container">
  <div class="row bottom-info" style="margin-top:20px;">
    <div class="col-md-3">
      <dl>
        <dt>客户服务</dt>
        <dd><a href="#" class="bottom-link">双虎购物攻略</a></dd>
        <dd><a href="#" class="bottom-link">双虎商场</a></dd>
        <dd><a href="#" class="bottom-link">双虎服务</a></dd>
        <dd><a href="#" class="bottom-link">联系我们</a></dd>
        <dd><a href="#" class="bottom-link">更多服务</a></dd>
      </dl>
    </div>
    <div class="col-md-3">
      <dl>
        <dt>这就是双虎</dt>
        <dd><a href="#" class="bottom-link">双虎理念</a></dd>
        <dd><a href="#" class="bottom-link">民主设计</a></dd>
        <dd><a href="#" class="bottom-link">关于双虎集团</a></dd>
        <dd><a href="#" class="bottom-link">人类与地球</a></dd>
      </dl>
    </div>
    <div class="col-md-3">
      <dl>
        <dt>工作在双虎</dt>
        <dd><a href="#" class="bottom-link">现在就申请</a></dd>
      </dl>
    </div>
    <div class="col-md-3">
      <dl>
        <dt>新闻联络</dt>
        <dd><a href="#" class="bottom-link">双虎俱乐部产品</a></dd>
      </dl>
    </div>
  </div>
</footer>
<% include bottomScripts.ejs %>