<% include ../layout.ejs %>
<div class="container">
    <div class="row" style="margin:30px;">
        <div class="col-md-3">
            <h3>专为家里最爱的房间打造</h3>
            <p>舒适的床为您带来一整夜的好睡眠。卧室家具为您打造更多储物空间（让您轻松找到物品）。有温暖的灯光营造氛围，还有柔软的纺织品相伴，而这一切的价格都让可您大放宽心，酣然入梦。</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/images/单人床，双人床，坐卧两用床__beds_frame_520_PE369779.jpg" alt="单人床，双人床，坐卧两用床">
            <a href="/product/0001">床</a>
        </div>
        <div class="col-md-3">
            <img class="img-responsive" src="/images/bedroom__materesses_250_PE407157.jpg" alt="床垫">
            <a href="/bedroom_sheet">床垫</a>
        </div>
    </div>
    <div class="row" style="margin:30px;">
        <div class="col-md-4">
            <img src="/images/bedroom__bedroom_storage_340_PH124251.jpg" alt="卧室储物" class="img-responsive">
            <a href="/bedroom_bin">卧室储物</a>
        </div>
        <div class="col-md-2">
            <img src="/images/bedroom__bedroom_lighting_160_PE364867.jpg" alt="照明" class="img-responsive">
            <a href="/bedroom_lighting">照明</a>
        </div>
        <div class="col-md-4">
            <img src="/images/bedroom__bedroom_textiles_rugs_340_PH124975.jpg" alt="纺织品" class="img-responsive">
            <a href="/bedroom_textile">纺织品</a>
        </div>
        <div class="col-sm-offset-1 col-md-1">
            <p class="t-sm">更多</p>
            <a href="/bedroom_mirror">镜子</a>
        </div>
    </div>
    <div class="row" style="margin:30px;">
        <p class="t-sm">卧室灵感</p>
        <h3>您想从哪里开始新的一天？</h3>
        <div class="col-md-6">
            <img src="/images/201521_becd01a_01_PH121315.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-6">
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-6">
                    <img src="/images/201521_becd01a_02_PH121750.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <img src="/images/20153_cost23a_01_PH123758.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/201521_becd01a_04_PH121314.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <img src="/images/201521_becd01a_05_PH121107.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:30px;">
        <p class="t-sm">就在双虎</p>
        <h3>每件都独具特色</h3>
        <div class="col-md-6">
            <img src="/images/201542_bevd01a_01_PH124251.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-6">
            <img src="/images/201542_bevd01a_02_PH124253.jpg" alt="" class="img-responsive">
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>