<% include ../layout.ejs %>
<div class="container">
    <div class="row" style="margin:30px;">
        <div class="col-md-3">
            <h3>我们都是有故事的人</h3>
            <p>客厅是分享您的人生故事的好地方。我们的客厅家具可助您展示自己曾经做过的事情和到过的地方，让您更生动地呈现自己的故事。还有很多舒适的座椅，因为与最爱的人分享自己的人生故事是最令人幸福的事。</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/images/living_room__living-room__sofas_.jpg" alt="单sofa">
            <a href="/product/0011">沙发和扶手椅</a>
        </div>
        <div class="col-md-3">
            <img class="img-responsive" src="/images/living_room__media_furniture.jpg" alt="furniture">
            <a href="/product/0008">电视及视听类家具</a>
        </div>
    </div>
    <div class="row" style="margin:30px;">
        <div class="col-md-4">
            <img src="/images/living_room__Living_room_storage.jpg" alt="卧室储物" class="img-responsive">
            <a href="/product/0009">卧室储物</a>
        </div>
        <div class="col-md-2">
            <img src="/images/living-room__coffee_sidetables_160_PE337540.jpg" alt="茶几和边桌" class="img-responsive">
            <a href="/product/0010">茶几和边桌</a>
        </div>
        <div class="col-md-2">
            <img src="/images/living-room__living_room_lighting_160_PE364865.jpg" alt="照明" class="img-responsive">
            <a href="/product/0012">照明</a>
        </div>
        <div class="col-md-2">
            <img src="/images/living-room__living_room_textiles_rugs_160_PH124975.jpg" alt="纺织品" class="img-responsive">
            <a href="/product/0013">纺织品</a>
        </div>
        <div class="col-md-2">
            <img src="/images/allseries__series_160_li_PE371231.jpg" alt="箱柜" class="img-responsive">
            <a href="/product/0014">箱柜</a>
        </div>
    </div>
    <div class="row" style="margin:30px;">
        <p class="t-sm">客厅灵感</p>
        <h3>找到您梦想中的客厅</h3>
        <div class="col-md-6">
            <img src="/images/201541_licd01a_01_PH124898.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-6">
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-6">
                    <img src="/images/201541_licd01a_02_PH124900.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <img src="/images/201541_licd01a_04_PH125068.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/201541_licd01a_03_PH125070.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <img src="/images/201541_licd01a_05_PH125074.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:30px;">
        <p class="t-sm">就在双虎</p>
        <h3>用新沙发套翻新你的沙发</h3>
        <div class="col-md-4">
            <img src="/images/201631_livd01a_01_PH131772.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-4">
            <img src="/images/201631_livd01a_02_PH131463.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-4">
            <img src="/images/201631_livd01a_03_PH131466.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <div class="row" style="margin:30px;">
        <h3>地毯让房间彰显个性</h3>
        <div class="col-md-6">
            <img src="/images/201631_livd01a_04_PH131498.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-6">
            <img src="/images/201631_livd01a_05_PH131843.jpg" alt="" class="img-responsive">
            <p style="font-size:12px;width:50%;">
              双虎最新地毯选用不同设计风格和材质，从图形元素到花朵图案任你挑选，让地板更加美观。
            </p>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
